<DOCTYPE html>
<html>
<head><title></title>
<link href="../Estilos/Home.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <nav>
        <ul>
            <li class="container-logo">
                <label>LOGO</label>
            </li>
            <li id="container-form">
                <div>
                    <form method="get" id="find-user">
                        <div class="container-search"><input type="text" id="style-search" placeholder="Buscar"></div>
                    </form>
                </div>
            </li>
       <li id="style-user">
        <label>
            Usuario
        </label>
    </li>
    <li id="style-profile">
        <img src="../Imagenes/thumbnail.png" >
    </li>
    <li id="style-notification">
        <img src="../Imagenes/photon.png"><a href="LogIn.html"></a>
    </li>
      <li id="style-friendship">
                <img src="../Imagenes/friends.png"><a href="LogIn.html"></a>
            </li>
        </ul>
    </nav>
    <section class = "user-publication">
        <div class="phrase-publication"><span id="user-name">Usuario</span><tr><span id="user-phrase">dile al mundo lo que sientes...</span></div>
        <div class="container-publication"><form method="get" name="user-publication-user" id="user-post"><input type="text" placeholder="Comparte tu dia" id="text-public"></form></div>
        <div class="public-photo-video"><div class="container-publica"><input type="submit" value="Publicar" id="public-button" ></div><div class="container-camera"><button type="button" id="camera-button"><img src="../Imagenes/camera.png"></button></div><div class="container-video"><button type="button" id="video-button"><img src="../Imagenes/video.png"></button></div></div>
    </section>
    <section class="container-publications">
        <div id="phrase-content">TU MUNDO ACTUALIZADO</div>
        <div class="container-card">
             <div class="card">
  <img src="../Imagenes/decoraciones.jpg" alt="Avatar" id="user-public-image">
  <div class="container">
       <div><p class="description-video"><span class="user-name">Pancracio Pancreas:</span> Mira este video blablablabla.
         </p></div>
      <div class="container-interact-button"><input id="dislike-button" type="button"><button id="like-button" type="button"></button><input id="comment-button" type="button"></div>
  </div>
</div>
 <div class="card-video">
  <img src="../Imagenes/video.jpg" alt="Avatar" id="user-public-video">
     <div><p class="description-video"><span class="user-name">Pancracio Pancreas:</span> Mira este video blablablabla.
         </p></div>
  <div class="container-video-post">
      <div class="container-interact-button"><input id="dislike-button" type="button"><input id="like-button" type="button"><input id="comment-button" type="button"></div>
  </div>
</div>
        </div>
    </section>
</body>
</html>