{% block head %}
<title></title>
  <link rel="stylesheet" href="{{asset('bundles/photom/css/HomeAdmin.css')}}" type="text/css">
{% endblock %}

{% block Body %}
<section class="header-admin">
    <div class="Logo">LOGO</div>
    <div class="welcome-admin">Bienvenido Usuario</div>
</section>
<section class="block-admin">
    <section class="panel-admin">
        <table>
            <tr>
                <th>Visto</th>
                <th>Descripcion</th>
                <th>Tiempo bloqueo</th>
                <th>Bloquear</th>
            </tr>
            <tr>
                <td><button><img src="{{asset('bundles/photom/images/lineaA.png')}}"></button></td>
                <td> Usuario ha sido reportado por <a href="">Privacidad de fotos violada y no controlada.</a></td>
                 <td><input type="datetime" placeholder="04/08/2016" id="date"></td>
                <td><button id="block-user"><img src="{{asset('bundles/photom/images/bloquear.png')}}"></button></td>
            </tr>
        </table>
    </section>
</section>
{% endblock %}
