<DOCTYPE html>
<html>
<head><title></title>
<link href="../Estilos/LogIn.css" rel="stylesheet" type="text/css"/>
</head>
<body class="background">
<section class="background-overlay">    
</section>
<section class="box-login">
    <span>
        <div> <img src="" id="logo-image" alt="no-image"></div>
        <form method="post" action="">
            <div class="style-profiled"> <img src="../Imagenes/female.png" class="style-profile"/></div>
            <div class="conteiner-text"><input type="username" id ="style-username"></div>
            <div class="conteiner-text"><input type="password" id="style-password"></div> 
            <span class="style-remember">  <input type = "checkbox" id="remember-check">    <span id="remember"><label>Recordarme</label></span> </span>
            <span class="style-forget"><a style="color:#0092b2" href="">¿Contraseña olvidada? </a></span>
            <div><input type="submit" value ="Entrar" class="style-submit"></div>
            </form>
    </span>
       <div class ="box-register">
            <span class="style-pregunta"><label>¿Aun no estas en la familia photon?</label></span>
          <span class="style-register"><a href = "" style="color:#a8c545"> ¡Registrate! </a></span>
        </div>
</section>
</body>
</html>