<DOCTYPE html>
<html>
<head><title></title>
<link href="../Estilos/Profile.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <nav>
        <ul>
            <li class="container-logo">
                <label>LOGO</label>
            </li>
            <li id="container-form">
                <div>
                    <form method="get" id="find-user">
                        <div class="container-search"><input type="text" id="style-search" placeholder="Buscar"></div>
                    </form>
                </div>
            </li>
       <li id="style-user">
        <label>
            Usuario
        </label>
    </li>
    <li id="style-profile">
        <img src="../Imagenes/thumbnail.png" >
    </li>
    <li id="style-notification">
        <img src="../Imagenes/photon.png"><a href="LogIn.html"></a>
    </li>
      <li id="style-friendship">
                <img src="../Imagenes/friends.png"><a href="LogIn.html"></a>
            </li>
        </ul>
    </nav>
    <section class = "user-controls">
        <div class="banner-user"><img src="../Imagenes/login-background.jpg" id="banner">
        <div class="user-tabs">
            <ul class="tab">
  <li><a href="#" class="tablinks" onclick="openCity(event, 'London')">Perfil</a></li>
  <li><a href="#" class="tablinks" onclick="openCity(event, 'Paris')">Amigos</a></li>
  <li><a href="#" class="tablinks" onclick="openCity(event, 'Tokyo')">Solicitudes</a></li>
</ul>
        </div></div>
    </section>
    <section class="container-profile-publication">
        
    </section>
</body>
</html>