<DOCTYPE html>
<html>
<head><title></title>
    <meta utf-8>
<link href="../Estilos/Registrar.css" rel="stylesheet" type="text/css"/>
</head>
<body class="background">
<section class="background-overlay">    
</section>
<section class="box-login">
    <span>
        <form method="post" action="">
            <div class="style-profiled"> <img src="../Imagenes/female.png" class="style-profile"/></div>
             <div class="conteiner-text"><input type="username" id ="style-name" placeholder = "NOMBRE"></div>
            <div class="conteiner-text"><input type="username" id ="style-username" placeholder = "USUARIO"></div>
              <div class="conteiner-text"><input type="email" id ="style-email" placeholder = "EMAIL"></div>
              <div class="conteiner-text"><input type="password" class ="style-password" placeholder = "CONTRASEÑA"></div>
            <div class="conteiner-text"><input type="password" class="style-password" placeholder = "CONTRASEÑA"></div> 
            <span class="style-remember"><input type = "radio" id="remember-check" name ="Genero" value="Hombre"><span id="hombre"><label>Hombre</label></span></span>
            <span class="style-forget"><input type = "radio" id="remember-check" name ="Genero" value="Mujer"><span id="mujer"><label>Mujer</label></span></span>
            <div><input type="submit" value ="¡Photon!" class="style-submit"></div>
            </form>
    </span>
       <div class ="box-register">
            <span class="style-pregunta"><label>¿Ya perteneces a la familia photon?</label></span>
          <span class="style-register"><a href = "" style="color:#a8c545"> ¡Entra ahora! </a></span>
        </div>
</section>
</body>
</html>