body{
     background-color: #FFF;
    margin: 0;
    padding: 0;
}

#find-user{
    margin-bottom:0%;
}
nav{
    background-color: #0092B2;
    position: relative;
    height: 38px;
}

ul{
    list-style: none;
    overflow: hidden;
    margin: 0;
}

#user-phrase{
    margin-left: 0.5%;
    font-family: "Rockwell";
    font-style:italic;
}

.fa.fa-users {
	color: white;
	font-size: 25px;
}

#user-profile-pic{

    float: left;
    display: inline-block;
}

#style-notification {
	margin-left: 4%;
	margin-top: 0.3%;
}

.fa.fa-heart {
	font-size: 20px;
    color: #373836;
}

.fa.fa-pencil {
	font-size: 15px;
	color: rgba(55,56,54,0.3);
}

.container-friend .img-thumbnail {
	border-radius: 100%;
	width: 60px;
	height: 60px;
	margin-top: 6%;
}

.fa.fa-comments {
	font-size: 20px;
    color:#00698C;
}

#style-user {
	margin-left: 2%;
	margin-top: 0.8%;
	color: white;
	font-weight: bold;
	font-family: "Rockwell";
}

.fa.fa-camera {
	font-size: 25px;
	color: #0092B2;
}

.fa.fa-video-camera {
	font-size: 30px;
	color: #0092B2;
}

#style-profile {
	margin-left: 3%;
	margin-top: 0.2%;
}

.phrase-publication{
    margin-left: 0%;
    font-size: 109%;
    margin-top: 0%;
    margin-left: 1%;
}

.container-publications{
    border-top: solid 2px rgba(37,33,28,0.3);
    border-bottom: none;
    border-right: none;
    border-left: none;
    margin-top: 0.5%;
    overflow: auto;
}

/*.container-publica{

    overflow: hidden;
    width: 7%;
    float: right;
    margin-right: 4%;
    height: 100%;
}*/

#camera-button{
 background-color: transparent;
    border: none;
}

#notificationContainer
{
background-color: #fff;
border: 1px solid rgba(100, 100, 100, .4);
-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
overflow: visible;
position: absolute;
top: 30px;
margin-left: -170px;
width: 400px;
z-index: -1;
display: none;
}

#notificationContainer:before {
content: '';
display: block;
position: absolute;
width: 0;
height: 0;
color: transparent;
border: 10px solid black;
border-color: transparent transparent white;
margin-top: -20px;
margin-left: 188px;
}

.container-camera{

    margin-left: 0%;
    width: %;
    float: left;
    overflow: hidden;
    margin-top: 0.5%;
}

#user-post{
    margin:0;
}

#container-form{
    width: 58%;
    margin-top: 0.2%;
    margin-left: 6%;
    padding-top: 0.3%;
}

#public-button{
 width: 100%;
 height: 100%;
 color: white;
 font-size: 13px;
 background-color: #0092B2;
 border: none;
 font-weight: bold;
 font-style: italic;
 font-family: "Rockwell";
}

#video-button{
    background-color: transparent;
    border: none;
}

.user-name{
    font-weight: bold;
    font-size: 89%;
    display: inline-block;
    top: 0%;
    float: left;
    margin-top: 4%;
    margin-left: 1.5%;
}

#user-phrase{
    margin-left: 0.5%;
    font-family: "Rockwell";
    font-style:italic;
}


ul.tab li {float: left;width: 26%;}

.container-user-image{
    position: absolute;
    left: 2%;
    bottom: 0%;
}

.imageround-friend{
    border-radius: 73px;
    float: left;
    margin-left: 5%;
    margin-top: 11%;
}

.list-friend th:nth-child(1){
    font-size: 140%;
    font-weight: bold;
    font-family: "Rockwell";
}

th,td{
     color:#373836;
    padding-bottom: 1%;
        padding-top:1%;
     text-align: center;
     padding-bottom: 1%;
}

.usuario-notificacion{
    font-weight: bold;
}

a {
	text-decoration: none;
}

.container-notificationsuser{
    width: 53%;
    height: auto;
    margin-top: 2%;
    float: right;
    margin-right: 3%;
    padding-bottom: 5%;
}

.list-group .img-thumbnail{

    width: 100px;
    float: left;
    border-radius: 100%;
    height: 100px;
}

.container-friendsuser{
    width: 53%;
    height: auto;
    margin-top: 2%;
    float: right;
    margin-right: 3%;
    padding-bottom: 5%;
}

.container-publicationprofile{
    width: 633.333px;
    height: auto;
    display: inline;
    margin-top: 0%;
    float: right;
    margin-right: 9%;
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 5%;
}

.comentarios{

    height: 155px;
    margin-top: 0;
    background-color: rgba(000,000,000,0.05);
    overflow: hidden;
}

#style-friendship{
    /*! float: left; */
    margin-left: 8%;
    /*! margin-top:  0.5%; */
}

.list-content{
 min-height:300px;
}

#profile-picture{

    width: 28px;
}

.list-group-comments .name{

    font-weight: normal;
    font-size: 74%;
}

.comment{

    color: #373836;
    font-weight: normal;
    font-style: italic;
    font-size: 13px;
    margin-left: 1%;
}

.post-user{

    padding-left: 9%;
    padding-top: 2%;
}

.list-group-comments{

    padding-left: 1.5%;
    margin: 0;
    list-style: none;
    padding-top: 1%;
}

.list-content .list-group .title{
  background:#5bc0de;
  border:2px solid #DDDDDD;
  font-weight:bold;
  color:#FFFFFF;
}
.list-group-comments .list-group-item img {
    height:45px;
    width:45px;
    float: left;
}

list-group-item img {
    height:80px;
    width:80px;
}

.list-group{
    list-style: none;
    width: 100%;
}

.list-group li{
    float:none;
    margin-top: 1%;
    padding-left: 3%;
    height: 15%;
}

.list-group li:first-child{
    text-align: center;
    color: #5F5448;
    font-weight: bold;
    font-size: 167%;
    margin-top: 0;
    margin-left: 0;
    height: 5%;
}

.jumbotron .btn {
    padding: 5px 5px !important;
    font-size: 12px !important;
}
.prj-name {
    color:#5bc0de;
}
.break{
    width:100%;
    margin:20px;
}
.name {
    color:#5bc0de;
    text-align: center;
    font-family: "Rockwell";
    float: left;
    margin-top: 0%;
    margin-left: 0%;
}

.list-friend tr{
    border-bottom: 1px black solid;
}

.see-all{

    background-color: blue;
    width: 14%;
    height: 4%;
    float: right;
    margin-top: 1%;
    color:white;
    font-weight: bold;
    display: none;
}



#text-public{
    width: 100%;
    height: 100%;
    padding-left: 1%;
    border: 1px solid rgba(33,32,28,0.3);
    font-family: "Rockwell";
    font-size: 100%;
}

.public-photo-video{
    margin-left: 2%;
    margin-top: 0.3%;
    top: 0%;
}

.container-publication{
    margin-top: 0.8%;
    margin-left: 0%;
    width: 100%;
    height: 5%;
}

#user-post{
    margin:0;
}

.container-friend{
    height: 27%;
    margin-top: 22%;
    text-align: center;
    margin-left: 0%;
    color: #5F5448;
    font-family: "Rockwell";
    border: 2px rgba(96, 85, 72, 0.40) solid;
    padding-top: 0%;
    font-size: 126%;
}

.container-public-user{

    width: 101%;
}

.phrase-publication{
    margin-left: 0%;
    font-size: 122%;
}

.user-name{
    font-weight: bold;
}

#user-phrase{
    margin-left: 0.5%;
    font-family: "Rockwell";
    font-style:italic;
}

.user-image-publication{
    border-radius: 100%;
    background-color: black;
    width: 7%;
    height: 7%;
    margin-top: 1%;
    margin-left: 1%;
    float: left;
}

.container-adbar{
    display: inline-block;
    width: 20%;
    float:right;
    height: 100%;
}

.container-sidebar{
    display: inline;
    display: inline-block;
    width: 20%;
    margin-bottom: 3%;
}

.container-infoUser{
    height: 35%;
    margin-top: 13%;
    margin-left: 3%;
    color: #5F5448;
    font-family: "Rockwell";
}

.container-publicationsUser{
     color: #5F5448;
}

.container-cardsuser{
    /*!  */
    margin-top: 4%;
    /*height: 692px;*/
    font-family: "Rockwell";
    width: 100%;
    overflow: hidden;
    border: 1px solid rgba(000,000,000,0.1);
    float: right;
    color: #373836;
}

#username-profile{
    float: left;
    font-size: 26px;
    margin-top: 38%;
    font-family: "Rockwell";
    color: white;
}

.container-infoUser > div{
    text-align: left;
    padding-left: 3%;
    font-size: 80%;
}

.container-infoUser > div >div {
    padding-top: 3%;
    overflow: hidden;
    color:rgba(96, 85, 72, 0.70)
}

.container-infoUser > div:first-child{
    text-align: center;
    margin-top: 3%;
    font-size: 126%;
    /*!  */
}

.container-infoUser > div:first-child #edit-info{
}

#edit-info{
    /*!  */
    border:none;
    height: 10%;
    width: 11%;
    /*!  */
    float: right;
    margin-right: 14%;
}

ul.tab li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 0px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    width: 100%;
    font-family: "Rockwell";
    font-weight: bold;
}

/* Change background color of links on hover */
 ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
 ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

nav ul{
    list-style: none;
    overflow: hidden;
    margin: 0;
    height: 100%;
}

#user-phrase{
    margin-left: 1%;
    font-family: "Rockwell";
    font-style:italic;
}

.list-group-comments li{
    float:none;
    margin-top: 0;
}

li{
    float:left;
    margin-top: 0.5%;
}

.user-tabs{
    position: absolute;
    /*!  */
    left: 23%;
    width: 64%;
    bottom: 0%;
}

.container-search{
    border: none;
    background-color: none;
}

.banner-user{

}

.user-controls{
    height: 35%;
    position: relative;
    width: 100%;
}

#banner{
    width:100%;
    height: 100%;
}

.container-card{
    padding-top: 1.3%;
    height: 100%;
}

.card {
    width: 100%;
    /*height: 100%;*/
    /*!  */
    float: left;
}


.card-video {
    box-shadow: 0 19px 19px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    height: 53%;
    border-radius: 5%;
    float: left;
    margin-left: 1%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
    /*!  */
    height: 33%;
    margin-top: 1%;
}

.container-profile-publication{
    width: 100%;
    position: relative;
    float: left;
    top: 0;
}

#phrase-content{
    margin-top: 6.8%;
    float: left;
    font-family: "Rockwell";
    font-size: 146%;
    color: rgba(37,33,28,0.3);
    font-style: italic;
    display: inline-block;
}

#dislike-button{
    color: #8F1C1B;
    font-size: 18px;
}

button{
    background-color: transparent;
    border:none;
}

#like-button{
    float: right;
}

#comment-button{
    float: right;
    margin-right: 5%;
}

.list-friend{
   width: 100%;
   padding: 0;
   border-left: 1px solid;
   border-right: 1px solid;
   border-top: 1px solid;
}

.container-interact-button{
    padding-top: 0%;
    width: 100%;
    height: 14%;
}

#user-public-image{
    width: 100%;
    margin-right: auto;
    height: auto;
    margin-top: 1%;
    max-height: 90%%;
}


#user-public-video{
    width: 100%;
    height: 80%;
    margin-top: 3%;
}

.container-video-post{
     padding: 0px 13px;
     margin-top: 3%;
}
.container-publications{
    border-top: solid 2px rgba(37,33,28,0.3);
    border-bottom: none;
    border-right: none;
    border-left: none;
    margin-top: 0.5%;
    overflow: auto;
}

.container-publica{
    width: 17%;
    float: right;
    margin-right: 0%;
    height: 100%;
    margin-top: 0.4%;
}

#container-form{
    width: 55%;
    margin-top: 0.1%;
    margin-left: 12%;
    padding-top: 0.3%;
    /*! height: 9%; */
}

.description-video{
    margin-left: 0%;
    display: inline;
    float: left;
    margin-top: 1%;
    margin-bottom: 0%;
}

.container-video {
	float: left;
}

.descritpion-user-publication{

    margin-top: 1%;
    padding-left: 1.5%;
    font-size: 90%;
    padding-right: 1.5%;
}

.form-comments{
    margin-bottom: 0%;
    padding-top: 1%;
    width: 99%;
    padding-left: 0%;
    height: 100%;
}

#comment-input{
    width:100%;
    border: none;
    background-color: transparent;
    height: 67%;
    padding-left: 2%;
}

#user-name{
    font-weight: bold;
    font-family: "Rockwell";
    font-style: italic;
}

.container-comment{
    background-color: rgba(000,000,000,0.03);
    height: 17%;
    margin-top: 0%;
}

#style-search{
     background: url(../Imagenes/lupa.png) no-repeat 2% 50%;
     border-bottom: 2px solid white;
     /*! height: 4%; */
     width: 100%;
     padding-left: 6%;
     border-top: none;
     border-left: none;
     border-right: none;
     color: white;
     font-size: 118%;
     font-style: italic;
     font-family:  "Rockwell";
}
