.background {
    background-image: url(../images/register2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
}

.background-overlay {
    width: 100%;
    height: 100%;
    /*! background-color: rgba(000,000,000, 0.3); */
}

.box-login{
    width: 44%;
    height: 79%;
    position: absolute;
    background-color: transparent;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    top: 5%;
    left: 31%;
}

#logo-image{
    width: 100%;
    height: 12%;
}

.style-name{
    width: 100%;
    height: 100%;
    background: url(../images/lock.png)  no-repeat 0.5% 50%;
     padding-left:33px;
    color: white;
    font-family: "Rockwell";
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    font-style: italic;
}

.style-password{
    margin-top: 3%;
    width: 100%;
    height: 100%;
    background: url(../images/lock.png)  no-repeat 0.5% 50%;
     padding-left:33px;
      color: white;
    font-family: "Rockwell";
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    font-style: italic
}

.style-email{
    margin-top: 3%;
    width: 100%;
    height: 100%;
    background: url(../images/lock.png) no-repeat 0.5% 50%;
     padding-left:33px;
      color: white;
    font-family: "Rockwell";
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    font-style: italic
}

.style-register{
    margin-left: 7%;
    font-family: "Rockwell";
    font-size: 23px;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}

.style-pregunta{
    font-style: italic;
    font-size: 98%;
    margin-left: 2%;
}

.box-register{
    background-color: transparent;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    display: block;
    width: 100%;
    height: 8%;
    margin-top: 24%;
    margin-left: 0%;
    padding-top: 3%;
}

.style-forget{

    font-style: italic;
    font-family: "Rockwell";
    margin-left: 19%;
    font-size: 117%;
    margin-top: 0;
    top: 0%;
    color: #0092b2;
    text-decoration: -moz-none;
    text-decoration: none;
    font-weight: bold;
    text-decoration: none;
}

.style-username{
    margin-top: 3%;
    background: url(../images/user.png) no-repeat 0% 50%;
    height: 100%;
    width: 100%;
    padding-left:30px;
        color: white;
    font-family: "Rockwell";
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    font-style: italic
}

.style-profile{
    margin-left: 40%;
}

#remember{
    top: 0;
    height: 10%;
}

.conteiner-text{
  background-color: rgba(95,84,72,0.2);
      width: 80%;
    height: 8%;
     margin-left: 9%;
}

#remember-check{
    height: 3%;
    width: 3%;
    margin-top: 2%;
    /*! outline: none; */
    margin-left: 8%;
}

input[type="text"],[type="username"],[type="email"],[type="number"],[type="password"],[type="tel"]{
    display: block;
    border: none;
}

.style-submit{
    margin-top: 2%;
    margin-left: 20%;
    display: block;
    height: 10%;
    width: 55%;
    color: #ffffff;
    font-family: "Rockwell";
    font-weight: bold;
    font-size: 207%;
    background-color: #a8c545;
    border: none;
    border-radius: 14px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.style-gender{

    margin-top: 5%;
    padding-left: 30%;
}

.style-profiled{

    margin-top: 0%;
    height: 30%;
}

.style-forget a:visited{
    text-decoration-color: #0092b2;
}

label{
    font-size: 138%;
    color: white;
    font-weight: bold;
    font-family: "Rockwell";
    margin-top: 0;
    margin-left: 2%;
}

.style-remember{

    display: inline;
    /*! margin-top: 11%; */
    margin-left: 8%;
    /*! width: 10%; */
    /*! height: 27%; */
}

a{
    text-decoration: none;
}

#fos_user_registration_form_plainPassword label{
  display: none;
}

.style-submit-container{
  position: absolute;
  width: 100%;
  bottom: 2%;
}
