body{
    background-color: #0092B2;
    margin: 0;
    padding: 0;
    font-family: "Rockwell";
}
#infoMainContainer{
  position: relative;
  width: 97%;
  height: 86%;
  top: 37%;
  transform: translateY(-50%);
  margin: 0 auto;
  padding-top: 8.8%;
}

#preguntasExtras{
  width: 58%;
  margin: 39px 25%;
  height: 33%;
  position: absolute;
}

.pregunta > span{
  width: 100%;
  text-align: center;
  font-size: 37px;
  display: block;
  color:white;
  font-weight: bold;
}

.pregunta > input{
  width: 92%;
      text-align: center;
      font-size: 20px;
      display: block;
      margin: 8% 4%;
}
