body{
    margin: 0;
    padding: 0;
    background-color: #0092B2;
}
.box-login{
  width: 40%;
  height: 65%;
  position: absolute;
  background-color: transparent;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  top: 11%;
  left: 31%;
}
#container{
    color: white;
margin: 25% auto;
font-family: Rockwell;
font-weight: bold;
text-align: center;
}
#getPreguntas{
  margin-top: 5%;
}
#username{
  margin-top:5%;
}
